body {
    background-image: url(images/woodGrain.jpg);
    background-size: cover;
}

p {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

canvas {
    /*width: 800px;
    height: 600px;*/
    border: 5px inset rgb(175, 170, 163);
    background-color: rgb(255, 245, 230);
    align-content: center;
}

#toolbar {
    background-image: url(images/concrete.jpg);
    background-size: 100% 100%;
    display: inline-block;
    width: 250px;
    height: 600px;
    border: 5px outset rgb(175, 170, 163);
    margin-left: 50px;
}

.myButtons {
    /*background-image: url(images/availableSoon.png);
    background-size: 100% 100%;*/
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid black;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.myButtons:hover {
    background-color: rgb(54, 141, 255);
    opacity: 1;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#myRange {
    margin-top: 50px;
    margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    outline: none;
    opacity: 0.5;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    background-color: rgb(54, 141, 255);
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    background: rgb(88, 211, 194);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background: rgb(88, 211, 194);
    cursor: pointer;
}


/*.flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}*/